body {
	background-color: grey; 
	color: darkslateblue;
	font-family: script ;

}

h1 {
	font-size: 60px;
}
button{
	font-size: 30px;
	font-family: arial;

}
p {
	font-size: 60px;
}
title{
	font-size: 30px;
}
li{
font-size: 30px ;
color: ;
}